* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clip-shape {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 70%);
}

body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(18, 69, 153);
  border-radius: 5px;
}
